<h1>Create your user here!</h1>
<div>
    <% if !@user.errors.empty? %>
        <% @user.errors.full_messages.each do |message| %>
            <div><%= message %></div>
        <% end %>
    <% end %>
</div>
<%= form_with model: @user do |form| %>
<div>
    <%= form.label :username, 'Your user name:' %>
    <%= form.text_field :username, placeholder: 'Random username', value: 'First user' %>
</div>
<div>
    <%= form.label :email, 'Your email:' %>
    <%= form.email_field :email, placeholder: 'abc@gmail.com', value: 'email@myemail.com' %>
</div>
<div>
    <%= form.label :password, 'Your password:' %>
    <%= form.password_field :password, value: 'frdnvhgjkep' %>
</div>
<div><%= form.submit%></div>
<% end %>