<h1>Create your user here!</h1>
<%= form_with model: User.new do |form| %>
<div>
    <%= form.label :username%>
    <%= form.text_field :username%>
</div>
<div>
    <%= form.label :email%>
    <%= form.email_field :email%>
</div>
<div>
    <%= form.label :password%>
    <%= form.password_field :password%>
</div>
<div><%= form.submit%></div>
<% end %>