<h1>Create your user here!</h1>
<%= form_tag '/users' %> 
<div>
    <%= label_tag 'username' %>
    <%= text_field_tag 'username' %>
</div>
<div>
    <%= label_tag 'email' %>
    <%= email_field_tag 'email' %>
</div>
<div>
    <%= label_tag 'password' %>
    <%= password_field_tag 'password' %>
</div>
<div>
    <%= submit_tag 'Submit' %>
</div>